<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        .col-lg-5{margin: 20px 0px 0px 10px;}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">相册</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">全部相册<span class="sr-only">(current)</span></a></li>
                <li><a href="/uploading">上传图片</a></li>
                <li><a href="/multipart">批量上传图片</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-lg-5 col-xs-6 col-md-3 ">
        <img src="image/404.png">
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-6 col-md-3 col-lg-offset-4">
        <a href="/"><img src="image/back.png"></a>
    </div>
</div>
</body>
</html>